.login-container {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .google-signin-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .google-signin-button:hover {
    background-color: #357ae8;
  }
  